<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841595210382-183t0hbttbequhk5oipa0nom0crboh06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841595210382-183t0hbttbequhk5oipa0nom0crboh06</string>
	<key>API_KEY</key>
	<string>AIzaSyB6dJbeKAyQbqWTaLGTNMKgWN-wML07oWU</string>
	<key>GCM_SENDER_ID</key>
	<string>841595210382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itJobMobile</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-image</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-image.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841595210382:ios:7c0dc73e5fe7ecf1dc57df</string>
</dict>
</plist>